body {
    background: #277aad;
    background-image: url("../images/ZenBG-1.png"), url("../images/ZenBG-2.png");
    background-repeat: repeat-x, repeat;
}

.vertical-center {
    min-height: 100%;
    /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh;
    /* These two lines are counted as one :-)       */
    display: flex;
    align-items: center;
}


body {
    font-family: 'Lato';
    background-color: #ddd;
    color: black;
}

#box {
    padding: 40px;
    -webkit-box-shadow: 10px 10px 135px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 135px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 135px 0px rgba(0, 0, 0, 0.75);
    background-color: #fff;
}

h1 {
    margin-bottom: 30px;
}

#contact {
    margin-top: 15px;
}

#contact h3 {
    margin-bottom: 20px;
}

#logo {
    height: 115px;    
    margin-top: 30px;
    margin-left: -30px;
}

#skills ul {
    margin: 15px;
    padding: 0;
}

.skillslist li {    
    display: inline;
    padding:15px;
    
    text-align: center;
}

@keyframes flyInFromBottom {
    0%{
        opacity: 0;    
    }
    100%{
        opacity: 1;
    }
}

#companyDetails {
    cursor:pointer;
}

.footerElement i {
    padding-right: 10px;
}